.photo-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 64px auto 0 auto;
    padding: 0;
    justify-content: center;
    row-gap: 12px;
}

@media screen and (min-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, 352px);
        grid-template-rows: repeat(2, 264px);
        row-gap: 16px;
        column-gap: 16px;
        margin-top: 88px;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(3, 225px);
        row-gap: 14px;
        column-gap: 14px;
        margin-top: 92px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        grid-template-columns: repeat(4, 284px);
        grid-template-rows: repeat(3, 213px);
        row-gap: 16px;
        column-gap: 16px;
    }
}