.lead__title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  color: #fff;
  margin: 48px auto 0;
  text-align: center;
  width: 288px;
}

@media screen and (min-width: 768px){
  .lead__title {
    width: 720px;
    font-size: 96px;
    line-height: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    margin-top: 56px;
  }
}