.footer__copyright {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin: 48px 0 24px 0;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0 24px 0 0;
    display: flex;
    align-items: end;
  }
}

@media screen and (min-width: 1024px) {
  .footer__copyright {
    margin-right: 48px;
  }
}