.intro {
  margin: 64px auto 0 auto;
  width: 288px;
}

@media screen and (min-width: 768px) {
  .intro {
    width: 720px;
    margin-top: 88px;
  }
}

@media screen and (min-width: 1024px){
  .intro {
    width: 928px;
    margin-top: 92px;
  }
}

@media screen and (min-width: 1280px){
  .intro {
    width: 984px;
  }
}