.lead__subtitle {
  max-width: 500px;
  position: relative;
  margin: 32px auto;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}