.lead__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  margin: 8px auto 0 auto;
  padding-left: 18px;
  width: 320px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .lead__caption {
    width: 768px;
    padding-left: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__caption {
    width: 928px;
    padding-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .lead__caption {
    width: 984px;
    padding-left: 0;
  }
}